

/*body div{
    outline: 1px solid pink;
    padding: 3em;
}*/

body > div{
    background-color: darkviolet;
    width: 30em;
    height: 30em;
    padding:7.5em;
    box-sizing: border-box;
}

body > div > div{
    background-color: blue;
    width: 15em;
    height: 15em;
}

#floating{
    background-color: yellow;
    height: 7.5em;
    width: 7.5em;
    padding: 0;
    float: left;
}